.clothes
    &-slide
        &__blocks
            display: flex
            justify-content: space-between
        &__block
            display: flex
            flex-basis: 33%
            margin-top: 25px
            align-items: center
        &__info
            margin-top: 53px
            margin-left: 52px
        &__text
            padding-right: 30px
            color: #afafaf
            font-family: "Bebas Neue"
            font-size: 27px
            font-weight: 400
            line-height: 25px
        &__btn
            margin-top: 20px
            padding: 9px 15px
            text-transform: uppercase
            border: 0.5rem #3cc395
            border-radius: 0.2rem
            background-color: #3cc395
            color: #ffffff
            font-family: "Bebas Neue"
            font-size: 19px
            font-weight: 400
            line-height: 19px
